@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fitness Tracker</h1>
    <p class="lead">We believe everyone has an inner potential. A potential to perform at their highest level. We believe this potential can be harnessed by uncovering secrets your body is trying to tell you.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="media-left" style="float:left">
            <img style="width:200px" src="https://images.unsplash.com/photo-1549540807-9442299306da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" />
        </div>
        <div style="float:right">

            <h1 class="display-4">Be Active</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>
</div>
<br />
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="media-left" style="float:right">
            <img style="width:200px" src="https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" />
        </div>
        <div style="float:left">
            <h1 class="display-4">Eat Healthy</h1>
            <p class="lead">
                Your food choices each day affect your health — how you feel today, tomorrow, and in the future.
                Good nutrition is an important part of leading a healthy lifestyle. Combined with physical activity, your diet can help you to reach and maintain a healthy weight, reduce your risk of chronic diseases (like heart disease and cancer), and promote your overall health.

            </p>
        </div>
    </div>
    </div>
<br />
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="media-left" style="float:left">
            <img style="width:200px" src="https://images.shape.mdpcdn.com/sites/shape.com/files/styles/channel_feature_panel_image/public/jen-goal-crushers-challenge-promo-1000.jpg?itok=DJd6_Wbl" />
        </div>
        <div style="float:right">
            <h1 class="display-4">Fluid jumbotron</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>
</div>
@*<div class="row">
        <div class="col-md-4">
            <h2>Our Mission</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@
<style>
    .jumbotron-fluid{ 
    background-color:#20B2AA;
	box-shadow: 0 4px 16px 0 rgba(0,0,0,5);
 }
    html{
        scroll-behavior: smooth;
    }
</style>